* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: #ffffff;
  font-family: "Nunito Sans";
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  color: #ffffff;
  font-family: "DM Mono";
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  color: #ffffff;
  font-family: "Orbitron";
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

body {
  background-color: #0C090D;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}